fastapi
uvicorn
openai
pydantic
transformers
accelerate
PyMuPDF
python-dotenv
python-multipart
replicate
pydantic[email]
sqlmodel
passlib[bcrypt]
psycopg2-binary
python-dotenv
python-jose
requests
alembic